@model Person
@using MVCBasics.Models

<div class="container">
    <div class="row">

        <div class="col-sm">@Model.PersonId</div>
        <div class="col-sm">@Model.Name</div>
        <div class="col-sm">@Model.PhoneNumber</div>
        <div class="col-sm">@Model.City</div>
        <div class="col-sm"><a asp-controller="Person" asp-action="Delete" asp-route-id="@Model.PersonId">Ta bort</a></div>
        <div></div>

    </div>
</div>

