
@{
    ViewData["Title"] = "Persons";
}

@model MVCBasics.ViewModels.PeopleViewModel
@using MVCBasics.ViewModels

<h1>People Index</h1>

<form asp-action="Persons" method="post">
    <label>Search for name or city</label>
    <div>
        <input type="text" name="searchedName" />
    </div>
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />
@{ CreatePersonViewModel createPersonViewModel = new CreatePersonViewModel();}

<form asp-action="Persons" method="post">

    <label asp-for="@createPersonViewModel.PersonName"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.PersonName" />
    </div>
    <span asp-validation-for="@createPersonViewModel.PersonName"></span>
    <label asp-for="@createPersonViewModel.Phone"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.Phone" />
    </div>
    <span asp-validation-for="@createPersonViewModel.Phone"></span>
    <label asp-for="@createPersonViewModel.City"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.City" />
    </div>
    <span asp-validation-for="@createPersonViewModel.City"></span>
    <br />
    <div>
        <input type="submit" name="Create" value="Create" />
    </div>
</form>
<br />

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phonenumber</th>
        <th>City</th>
        <th></th>
    </tr>
    @if (Model.AllPersonsList != null)
    {
        @foreach (var person in Model.AllPersonsList)
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.Name</td>
                <td>@person.PhoneNumber</td>
                <td>@person.City</td>
                <td><a asp-controller="Person" asp-action="Delete" asp-route-id="@person.PersonId">Ta bort</a></td>
            </tr>
        }
    }
    else
    {
        @foreach (var person in Model.AllPersonsWithSpecificName)
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.Name</td>
                <td>@person.PhoneNumber</td>
                <td>@person.City</td>
                <td><a asp-controller="Person" asp-action="Delete" asp-route-id="@person.PersonId">Ta bort</a></td>
            </tr>
        }
    }
</table>